* { box-sizing: border-box; }

body {
    background-color: #f3f3f3;
}

nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px 0px #dedede;
}

.nav-container {
    max-width: 1400px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-ul {
    display: flex;
    flex-direction: row;
}

.nav-ul li {
    border-radius: 5px;
}

.nav-ul a, .nav-ul button {
    cursor: pointer;
    padding: 20px;
}

.nav-ul a:hover {
    border-bottom: 2px solid rgb(255, 166, 0);
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.fuel-form-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 1px 2px 9px 0px #dedede;
    border-radius: 5px;
}

.input-form {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1024px) {
    .input-form {
        flex-direction: column;
    }
}

.fuel-form-container form {
    display: flex;
    flex-direction: column;
}

.fuel-form-container form label {
    margin: 10px 0px;
}

.fuel-data, .fuel-data-title {
    min-width: 100px;
}

input {
    max-width: 400px;
}

.submit-btn {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s ease;
}

.submit-btn:hover {
    background-color: rgb(233, 233, 233);
    transition: background-color .2s ease;
}

.fuel-list {
    min-width: 650px;
}

.fuel-form-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fuel-list-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
}

.fuel-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.success {
    font-size: 20px;
    color: red;
}

.action-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-icon {
    height: 20px;
}

.data-upload-form-container,
.statistics-container {
    width: 50%;
    margin-right: 20px;
}

.statistics-container,
.statistics-data-wrapper,
.table-column,
.statistics-column-title {
    display: flex;
    flex-direction: column;
}

.statistics-column-title,
.statistics-data {
    width: 120px;
    border-bottom: 1px solid black;
    padding: 2px;
}

.statistics-data-wrapper {
    display: flex;
    flex-direction: row;
}

.statistics-table-header {
    display: flex;
    flex-direction: row;
    margin-top: 10px
}